body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #4B1248;
  padding: 10px 20px;
  color: white;
}

.heart-red {
  color: red;
}

.nav-left {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 30px;
}

.nav-center {
  flex: 1;
  text-align: center;
  order: 2;
}

.nav-logo {
    margin-top: 10px;
    height: 60px;
    transform: translateX(0px); 
}

.nav-right {
  display: flex;
  gap: 50px;
  order: 3;
}

/* Animated underline on hover */
.nav-right a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size:25px;
  transition: color 0.2s ease;
}

.nav-right a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-right a:hover::after {
  width: 100%;
}

/* underline for active page */
.nav-right a.active::after {
  width: 100%;
}

/* Hero Section */
.hero {
  position: relative;
  height: 90vh;
  background: url('/bg.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Neucha', cursive;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.2); /* darken background */
  padding: 40px;
  border-radius: 12px;
  color: white;
}

.hero-overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-overlay p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.hero-button {
  background-color: #a23c78;
  border: none;
  padding: 12px 25px;
  color: white;
  font-size: 1.2rem;
  border-radius: 8px;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #8a2c66;
}


.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10%;
  gap: 3rem;
  background-color: #d3d3d3; /* Light grey to match your design */
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  font-size: 1.9rem;
  line-height: 1.6;
  font-family: 'Indie Flower', cursive;
  color: #000;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-section.reverse {
  flex-direction: row-reverse;
}

.about-section.second {
  flex-direction: row;
}


.about-section.third {
  flex-direction: row-reverse;
}


/* Responsive for smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-left,
  .nav-right {
    width: 100%;
    justify-content: center;
    margin: 5px 0;
  }

  .nav-right {
    flex-direction: column;
    gap: 10px;
  }

  .nav-center {
    order: 1;
    margin: 10px 0;
  }
}
